/*  header child start */

.search{
    height: 40px;
    width: 11rem;
    flex: 1;
}
.category{
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden; 
    flex: 1 1 200px;
    
    .categoryChild{
        background-color: rgb(255, 172, 78);
        border: 1px solid black;
    }
}
.category::-webkit-scrollbar {
    width: 0;  /* Hide the scrollbar */
    background-color: transparent;  /* Optional: Set the background color of the scrollbar track */
  }
  
  .category::-webkit-scrollbar-thumb {
    background-color: transparent;  /* Hide the scrollbar thumb */
  }
  
  .category::-webkit-scrollbar-track {
    background-color: transparent;  /* Hide the scrollbar track */
  }


/*  header child end */